<table class="table table-bordered table-striped">
  <caption>Balanço</caption>
  <tr>
    <th>Data</th>
    <th>Valor</th>
    <th>Descrição</th>
      <% unless current_page?(:controller => "reports", :action => "current") %>
      <th></th>
    <% end %>
  </tr>
  <% balance.rows.each do |row| %>
    <tr>
      <td>
        <%= row[:date] %>
      </td>
      <td>
        <%= row[:amount] %>
      </td>
      <td>
        <%= row[:description] %>
      </td>
      <% unless current_page?(:controller => "reports", :action => "current") %>
        <td>
          <% if row[:kind] == "entry" %>
            <%= link_to 'Remover', entry_path(row[:id]), confirm: 'Are you sure?', method: :delete %>
          <% end %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

