<table class="table table-bordered table-striped">
  <caption>Demonstrativo de Resultados do exercício</caption>
  <tr>
    <% statement.report_attributes.each do |attributes| %>
      <th><%= attributes.values.first %></th>
    <% end %>
  </tr>

  <% statement.dres.each do |dre| %>
    <tr>
      <% statement.report_attributes.each do |attribute| %>
        <td><%= dre.send(attribute.keys.first) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
